* {
  box-sizing: border-box; /*нужно для выставленного размера размера*/
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.nav_container {
  margin-bottom: 50px;
}

.ul_container {
}

.nav_item {
  display: inline-block;
  width: 200px;
  background-color: blue;
  color: whitesmoke;
  text-align: center;
  border: 1px solid black;
}

.nav_item:hover {
  background-color: darkblue;
}

.nav_item_container {
  display: inline-block;
  position: relative;
}

.sub_menu {
  display: none;
  position: absolute;
}

.nav_item_container:hover > .sub_menu {
  display: block;
}

.drop_down {
  top: 100%;
  left: -40px;
}
